﻿@model dotnet.mvc5.Models.RestaurantReview

<div class="Review">
    <h4> @*@Model.Name*@ </h4>
    <span> @Model.Rating </span>
    <span class="right">
        @Html.ActionLink("Edit Review", "Edit", new { id = Model.Id })
    </span>
    <p> @*@Model.City  @Model.Country*@ </p>
</div>