﻿@model dotnet.mvc5.Models.Restaurant

@{
    ViewBag.Title = "Index";
}

<h2>Reviews for @Model.Name </h2>

<p>
    @Html.ActionLink("Create New", "Create", new { restaurantId = Model.Id })
    @Html.Partial("_Reviews", Model.Reviews);
</p>
