﻿@model IEnumerable<dotnet.mvc5.Models.RestaurantReview>

@{
    ViewBag.Title = "Index";
    var firstReview = Model.First();
}

<h2>Latest Restaurant Reviews</h2>

firstReview Name is: @firstReview.Name
<br />

@section featured {
Showing @Model.Count() reviews
}

@foreach (var item in Model) {

    @Html.Partial("_Review", item)
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>
