﻿@model IPagedList<ResraurantListViewModel>

<div id="restaurantList">

    <div class="pagedList" data-otf-target="#restaurantList">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }),
        PagedListRenderOptions.MinimalWithItemCountText)
    </div>

    @foreach (var item in Model)
    {
        <h4> @item.Name </h4>
        <div> @item.City, @item.Country </div>
        <div>No. of reviews @item.CountOfReviews </div>
    }
</div>